.toolbar {
  list-style-type: none; }
  .toolbar__item {
    display: block;
    border: 2px solid #a5a5a5;
    transition: border 300ms;
    cursor: pointer;
    padding: 10px;
    margin: 10px 0; }
  .toolbar.active {
    border-color: #222; }

.toolbar_item > span {
  opacity: .5;
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  transition: opacity 300ms; }

.toolbar.active, .toolbar:hover > span {
  opacity: 1; }

.toolbar_item {
  display: block;
  border: 2px solid #a5a5a5;
  transition: border 300ms;
  cursor: pointer;
  padding: 10px;
  margin: 10px 0; }

.toolbar.active {
  border-color: #222; }
