body {
  box-sizing: border-box;
  padding: 2%; }

.app-wrapper {
  display: flex; }
  .app-wrapper .canvas-wrapper {
    box-shadow: #eff0ea 5px 5px 5px 0px;
    border: 2px solid #eff0ea;
    margin: 0 4%; }
